In [137]:
import math
import numpy as np
import pandas as pd
from datetime import datetime
import time
# from pyspark.sql.types import *
import keras
from keras.models import Sequential
from keras.layers import Dense
import numpy
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# from pyspark.sql.types import *
# from pyspark.sql import functions 
from sklearn.preprocessing import LabelEncoder

In [139]:
df = pd.read_csv('bank-full.csv', sep=';')

In [140]:
df.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,36,management,married,tertiary,no,101,yes,yes,unknown,5,may,426,1,-1,0,unknown,no
96,55,blue-collar,married,secondary,no,383,no,no,unknown,5,may,287,1,-1,0,unknown,no
97,60,retired,married,tertiary,no,81,yes,no,unknown,5,may,101,1,-1,0,unknown,no
98,39,technician,married,secondary,no,0,yes,no,unknown,5,may,203,1,-1,0,unknown,no
99,46,management,married,tertiary,no,229,yes,no,unknown,5,may,197,1,-1,0,unknown,no

In [143]:
df.shape

(45211, 17)

In [145]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [147]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [149]:
lencoder = LabelEncoder()
#Function to encode any dataframe
def encode_label(dataFrame): #Read in dataframe
    encoded_df = dataFrame.copy() #Create a copy of the data frame to encode
    for column in encoded_df.columns: #For loop to iterate through the data frame columns
        if encoded_df[column].dtype == 'object': #Conditionalo statement to select only categorical comlumns
            encoded_df[column] = lencoder.fit_transform(encoded_df[column]) #Applying label encoding instance
    return encoded_df #returning encoded dataframe

In [151]:
df = encode_label(df)

In [153]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [182]:
standard_scaler = StandardScaler()
minmax_scaler = MinMaxScaler()
X = df.iloc[:,0:16]  
X = minmax_scaler.fit_transform(X)
Y = df.iloc[:,16]
Y = Y.values
Y = Y.reshape(-1, 1)
Y = minmax_scaler.fit_transform(Y)

In [184]:
# create model
model = Sequential()
# model.add(Dense(1000, input_dim=8, activation='relu')) # 1000 neurons
# model.add(Dense(100, activation='tanh')) # 100 neurons with tanh activation function
model.add(Dense(500, activation='sigmoid')) # 500 neurons
# 93.36% accuracy with 500 neurons
# 86.99% accuracy with 100 neurons
# 85.2% accuracy with 50 neurons
# 81.38% accuracy with 10 neurons
model.add(Dense(1, activation='sigmoid')) # 1 output neuron

In [186]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit the model
model.fit(X, Y, epochs=150, batch_size=10,  verbose=2) # 150 epoch, 10 batch size, verbose = 2

Epoch 1/150
4522/4522 - 6s - 1ms/step - accuracy: 0.8854 - loss: 0.3001
Epoch 2/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8903 - loss: 0.2738
Epoch 3/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8902 - loss: 0.2735
Epoch 4/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8895 - loss: 0.2727
Epoch 5/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8906 - loss: 0.2721
Epoch 6/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8904 - loss: 0.2718
Epoch 7/150
4522/4522 - 4s - 978us/step - accuracy: 0.8910 - loss: 0.2710
Epoch 8/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8905 - loss: 0.2695
Epoch 9/150
4522/4522 - 4s - 992us/step - accuracy: 0.8904 - loss: 0.2693
Epoch 10/150
4522/4522 - 4s - 974us/step - accuracy: 0.8908 - loss: 0.2678
Epoch 11/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8910 - loss: 0.2667
Epoch 12/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8910 - loss: 0.2656
Epoch 13/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8919 - loss: 0.2630
Epoch 14/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8920 - loss: 0.2616
Epoch 15/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8918 - loss: 0.2599
Epoch 16/150
4522/4522 - 4s - 960us/step - accuracy: 0.8922 - loss: 0.2579
Epoch 17/150
4522/4522 - 4s - 982us/step - accuracy: 0.8929 - loss: 0.2564
Epoch 18/150
4522/4522 - 4s - 960us/step - accuracy: 0.8935 - loss: 0.2550
Epoch 19/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8944 - loss: 0.2531
Epoch 20/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8956 - loss: 0.2519
Epoch 21/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8955 - loss: 0.2499
Epoch 22/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8969 - loss: 0.2495
Epoch 23/150
4522/4522 - 4s - 989us/step - accuracy: 0.8965 - loss: 0.2479
Epoch 24/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8970 - loss: 0.2468
Epoch 25/150
4522/4522 - 5s - 999us/step - accuracy: 0.8969 - loss: 0.2455
Epoch 26/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8985 - loss: 0.2443
Epoch 27/150
4522/4522 - 4s - 983us/step - accuracy: 0.8981 - loss: 0.2435
Epoch 28/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8987 - loss: 0.2424
Epoch 29/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8988 - loss: 0.2416
Epoch 30/150
4522/4522 - 4s - 960us/step - accuracy: 0.8983 - loss: 0.2407
Epoch 31/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8989 - loss: 0.2399
Epoch 32/150
4522/4522 - 6s - 1ms/step - accuracy: 0.8990 - loss: 0.2390
Epoch 33/150
4522/4522 - 6s - 1ms/step - accuracy: 0.8989 - loss: 0.2377
Epoch 34/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8997 - loss: 0.2372
Epoch 35/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9003 - loss: 0.2364
Epoch 36/150
4522/4522 - 6s - 1ms/step - accuracy: 0.8994 - loss: 0.2359
Epoch 37/150
4522/4522 - 5s - 1ms/step - accuracy: 0.8996 - loss: 0.2353
Epoch 38/150
4522/4522 - 6s - 1ms/step - accuracy: 0.8996 - loss: 0.2350
Epoch 39/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9000 - loss: 0.2344
Epoch 40/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9002 - loss: 0.2339
Epoch 41/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9004 - loss: 0.2336
Epoch 42/150
4522/4522 - 4s - 962us/step - accuracy: 0.9007 - loss: 0.2331
Epoch 43/150
4522/4522 - 4s - 959us/step - accuracy: 0.9002 - loss: 0.2330
Epoch 44/150
4522/4522 - 4s - 972us/step - accuracy: 0.9007 - loss: 0.2327
Epoch 45/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9001 - loss: 0.2320
Epoch 46/150
4522/4522 - 5s - 1000us/step - accuracy: 0.9010 - loss: 0.2319
Epoch 47/150
4522/4522 - 4s - 962us/step - accuracy: 0.9006 - loss: 0.2318
Epoch 48/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9012 - loss: 0.2311
Epoch 49/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9012 - loss: 0.2312
Epoch 50/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9016 - loss: 0.2305
Epoch 51/150
4522/4522 - 4s - 993us/step - accuracy: 0.9014 - loss: 0.2305
Epoch 52/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9019 - loss: 0.2300
Epoch 53/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9012 - loss: 0.2298
Epoch 54/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9016 - loss: 0.2294
Epoch 55/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9006 - loss: 0.2294
Epoch 56/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9015 - loss: 0.2290
Epoch 57/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9019 - loss: 0.2287
Epoch 58/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9018 - loss: 0.2282
Epoch 59/150
4522/4522 - 7s - 1ms/step - accuracy: 0.9018 - loss: 0.2283
Epoch 60/150
4522/4522 - 9s - 2ms/step - accuracy: 0.9024 - loss: 0.2279
Epoch 61/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9031 - loss: 0.2274
Epoch 62/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9025 - loss: 0.2275
Epoch 63/150
4522/4522 - 9s - 2ms/step - accuracy: 0.9023 - loss: 0.2273
Epoch 64/150
4522/4522 - 12s - 3ms/step - accuracy: 0.9020 - loss: 0.2270
Epoch 65/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9025 - loss: 0.2269
Epoch 66/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9026 - loss: 0.2264
Epoch 67/150
4522/4522 - 9s - 2ms/step - accuracy: 0.9034 - loss: 0.2264
Epoch 68/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9025 - loss: 0.2263
Epoch 69/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9029 - loss: 0.2259
Epoch 70/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9026 - loss: 0.2259
Epoch 71/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9027 - loss: 0.2256
Epoch 72/150
4522/4522 - 7s - 1ms/step - accuracy: 0.9030 - loss: 0.2253
Epoch 73/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9028 - loss: 0.2252
Epoch 74/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9033 - loss: 0.2252
Epoch 75/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9027 - loss: 0.2247
Epoch 76/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9032 - loss: 0.2246
Epoch 77/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9033 - loss: 0.2247
Epoch 78/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9032 - loss: 0.2241
Epoch 79/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9031 - loss: 0.2242
Epoch 80/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9034 - loss: 0.2240
Epoch 81/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9027 - loss: 0.2237
Epoch 82/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9044 - loss: 0.2239
Epoch 83/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9037 - loss: 0.2235
Epoch 84/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9031 - loss: 0.2237
Epoch 85/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9030 - loss: 0.2232
Epoch 86/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9038 - loss: 0.2231
Epoch 87/150
4522/4522 - 8s - 2ms/step - accuracy: 0.9026 - loss: 0.2230
Epoch 88/150
4522/4522 - 7s - 1ms/step - accuracy: 0.9040 - loss: 0.2227
Epoch 89/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9035 - loss: 0.2226
Epoch 90/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9040 - loss: 0.2226
Epoch 91/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9044 - loss: 0.2224
Epoch 92/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9043 - loss: 0.2224
Epoch 93/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9039 - loss: 0.2222
Epoch 94/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9046 - loss: 0.2220
Epoch 95/150
4522/4522 - 8s - 2ms/step - accuracy: 0.9041 - loss: 0.2220
Epoch 96/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9047 - loss: 0.2218
Epoch 97/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9036 - loss: 0.2216
Epoch 98/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9045 - loss: 0.2217
Epoch 99/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9041 - loss: 0.2215
Epoch 100/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9040 - loss: 0.2215
Epoch 101/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9048 - loss: 0.2210
Epoch 102/150
4522/4522 - 8s - 2ms/step - accuracy: 0.9044 - loss: 0.2213
Epoch 103/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9040 - loss: 0.2209
Epoch 104/150
4522/4522 - 7s - 1ms/step - accuracy: 0.9041 - loss: 0.2209
Epoch 105/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9046 - loss: 0.2206
Epoch 106/150
4522/4522 - 8s - 2ms/step - accuracy: 0.9042 - loss: 0.2204
Epoch 107/150
4522/4522 - 17s - 4ms/step - accuracy: 0.9054 - loss: 0.2203
Epoch 108/150
4522/4522 - 7s - 2ms/step - accuracy: 0.9038 - loss: 0.2199
Epoch 109/150
4522/4522 - 6s - 1ms/step - accuracy: 0.9042 - loss: 0.2202
Epoch 110/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9055 - loss: 0.2202
Epoch 111/150
4522/4522 - 4s - 984us/step - accuracy: 0.9048 - loss: 0.2200
Epoch 112/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9054 - loss: 0.2196
Epoch 113/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9051 - loss: 0.2194
Epoch 114/150
4522/4522 - 4s - 980us/step - accuracy: 0.9047 - loss: 0.2193
Epoch 115/150
4522/4522 - 4s - 991us/step - accuracy: 0.9049 - loss: 0.2195
Epoch 116/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9056 - loss: 0.2194
Epoch 117/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9055 - loss: 0.2191
Epoch 118/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9053 - loss: 0.2189
Epoch 119/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9054 - loss: 0.2189
Epoch 120/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9054 - loss: 0.2188
Epoch 121/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9048 - loss: 0.2187
Epoch 122/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9059 - loss: 0.2183
Epoch 123/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9059 - loss: 0.2183
Epoch 124/150
4522/4522 - 4s - 949us/step - accuracy: 0.9059 - loss: 0.2183
Epoch 125/150
4522/4522 - 4s - 973us/step - accuracy: 0.9056 - loss: 0.2181
Epoch 126/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9063 - loss: 0.2180
Epoch 127/150
4522/4522 - 4s - 978us/step - accuracy: 0.9058 - loss: 0.2176
Epoch 128/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9063 - loss: 0.2178
Epoch 129/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9062 - loss: 0.2174
Epoch 130/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9062 - loss: 0.2176
Epoch 131/150
4522/4522 - 4s - 933us/step - accuracy: 0.9060 - loss: 0.2175
Epoch 132/150
4522/4522 - 4s - 955us/step - accuracy: 0.9061 - loss: 0.2173
Epoch 133/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9064 - loss: 0.2172
Epoch 134/150
4522/4522 - 4s - 951us/step - accuracy: 0.9058 - loss: 0.2172
Epoch 135/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9064 - loss: 0.2167
Epoch 136/150
4522/4522 - 5s - 999us/step - accuracy: 0.9058 - loss: 0.2167
Epoch 137/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9061 - loss: 0.2165
Epoch 138/150
4522/4522 - 4s - 982us/step - accuracy: 0.9060 - loss: 0.2165
Epoch 139/150
4522/4522 - 4s - 943us/step - accuracy: 0.9062 - loss: 0.2163
Epoch 140/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9064 - loss: 0.2163
Epoch 141/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9067 - loss: 0.2161
Epoch 142/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9064 - loss: 0.2161
Epoch 143/150
4522/4522 - 7s - 1ms/step - accuracy: 0.9066 - loss: 0.2159
Epoch 144/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9067 - loss: 0.2156
Epoch 145/150
4522/4522 - 4s - 982us/step - accuracy: 0.9075 - loss: 0.2157
Epoch 146/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9066 - loss: 0.2154
Epoch 147/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9071 - loss: 0.2154
Epoch 148/150
4522/4522 - 4s - 965us/step - accuracy: 0.9070 - loss: 0.2153
Epoch 149/150
4522/4522 - 4s - 982us/step - accuracy: 0.9072 - loss: 0.2154
Epoch 150/150
4522/4522 - 5s - 1ms/step - accuracy: 0.9072 - loss: 0.2152

In [187]:
actual = Y
predicted = rounded

confusion_matrix = metrics.confusion_matrix(actual, predicted)

cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix = confusion_matrix, display_labels = [False, True])

cm_display.plot()
plt.show()

NameError: name 'rounded' is not defined